In [1]:
import pandas as pd
from path import Path
from sqlalchemy import create_engine
import psycopg2 as pg
import io

In [2]:
# read postgres table, vaerscombined_2 into dataframe
connection = pg.connect(host='team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com', dbname="postgres", user="postgres", password='UTB00tcamp')
vaers_data_vax_df = pd.read_sql_query('select * from public."vaerscombined_2"',con=connection)
vaers_data_vax_df.head()

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,HOSPITAL,OTHER_MEDS,CUR_ILL,HISTORY,ALLERGIES,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_SITE,VAX_NAME
0,1000012,NaN,F,0,None,None,None,None,None,None,COVID19,PFIZERBIONTECH,None,1,None,COVID19 (COVID19 (PFIZER-BIONTECH))
1,997550,54.0,F,0,None,Y,verapamil-for vertigo off label usage fish oil...,none,Chronic dry eye Vertigo,Penicillin,COVID19,MODERNA,013L20A,2,RA,COVID19 (COVID19 (MODERNA))
2,997553,92.0,M,Y,None,None,"nexium, isosorbide, metoprolol, norvasc, lipit...",none,"hypertension, CAD, CRF, hyperlipidemia","isoniazid, diltiazem,versed",COVID19,PFIZERBIONTECH,EL3246,1,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,997571,93.0,F,Y,None,Y,None,None,None,None,COVID19,PFIZERBIONTECH,None,1,None,COVID19 (COVID19 (PFIZER-BIONTECH))
4,997581,84.0,F,0,None,Y,None,None,None,None,COVID19,PFIZERBIONTECH,None,UNK,None,COVID19 (COVID19 (PFIZER-BIONTECH))

In [4]:
len(vaers_data_vax_df.index)

50716

In [8]:
#Drop Unnecessary columns from VAERS_VAX_COVID19_df
# vaers_data_vax_clean_df= vaers_data_vax_df.drop(["VAX_TYPE", "VAX_LOT", "VAX_SITE", "VAX_NAME",'AGE_YRS','SEX','DIED','L_THREAT','HOSPITAL','OTHER_MEDS','CUR_ILL','HISTORY','VAX_MANU','VAX_DOSE_SERIES'], axis=1).copy()
# vaers_data_vax_clean_df.head()


vaers_data_vax_clean_df = vaers_data_vax_df.drop(columns=["VAX_TYPE", "VAX_LOT", "VAX_SITE", "VAX_NAME",'AGE_YRS','SEX','DIED','L_THREAT','HOSPITAL','OTHER_MEDS','CUR_ILL','HISTORY','VAX_MANU','VAX_DOSE_SERIES'],axis=1).copy()
vaers_data_vax_clean_df

       VAERS_ID                    ALLERGIES
0       1000012                         None
1        997550                   Penicillin
2        997553  isoniazid, diltiazem,versed
3        997571                         None
4        997581                         None
...         ...                          ...
50711   1039896                         None
50712    996921                         None
50713    996922                         None
50714    996923                         None
50715    996927                         None

[50716 rows x 2 columns]

In [9]:
vaers_data_vax_clean_df.ALLERGIES.apply(lambda x: pd.Series(str(x).split(",")))

# allergy_df = vaers_data_vax_clean_df.apply(lambda group: ','.join(group['ALLERGIES']))
# allergy_df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Penicillin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,isoniazid,diltiazem,versed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50711,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50712,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50713,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50714,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50715,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
vaers_data_vax_clean_df['Allergy_1'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[0]
vaers_data_vax_clean_df['Allergy_2'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[1]
vaers_data_vax_clean_df['Allergy_3'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[2]
vaers_data_vax_clean_df['Allergy_4'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[3]
vaers_data_vax_clean_df['Allergy_5'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[4]
vaers_data_vax_clean_df['Allergy_6'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[5]
vaers_data_vax_clean_df['Allergy_7'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[6]
vaers_data_vax_clean_df['Allergy_8'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[7]
vaers_data_vax_clean_df['Allergy_9'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[8]
vaers_data_vax_clean_df['Allergy_10'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[9]
vaers_data_vax_clean_df['Allergy_11'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[10]
vaers_data_vax_clean_df['Allergy_12'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[11]
vaers_data_vax_clean_df['Allergy_13'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[12]
vaers_data_vax_clean_df['Allergy_14'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[13]
vaers_data_vax_clean_df['Allergy_15'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[14]
vaers_data_vax_clean_df['Allergy_16'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[15]
vaers_data_vax_clean_df['Allergy_17'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[16]
vaers_data_vax_clean_df['Allergy_18'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[17]
vaers_data_vax_clean_df['Allergy_19'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[18]
vaers_data_vax_clean_df['Allergy_20'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[19]
vaers_data_vax_clean_df['Allergy_21'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[20]
vaers_data_vax_clean_df['Allergy_22'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[21]
vaers_data_vax_clean_df['Allergy_23'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[22]
vaers_data_vax_clean_df['Allergy_24'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[23]
vaers_data_vax_clean_df['Allergy_25'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[24]
vaers_data_vax_clean_df['Allergy_26'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[25]
vaers_data_vax_clean_df['Allergy_27'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[26]
vaers_data_vax_clean_df['Allergy_28'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[27]
vaers_data_vax_clean_df['Allergy_29'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[28]
vaers_data_vax_clean_df['Allergy_30'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[29]
vaers_data_vax_clean_df['Allergy_31'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[30]
vaers_data_vax_clean_df['Allergy_32'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[31]
vaers_data_vax_clean_df['Allergy_33'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[32]

In [11]:
vaers_data_vax_clean_df.count(0)

VAERS_ID      50716
ALLERGIES     29357
Allergy_1     29357
Allergy_2      6066
Allergy_3      3535
Allergy_4      2026
Allergy_5      1222
Allergy_6       767
Allergy_7       514
Allergy_8       337
Allergy_9       227
Allergy_10      171
Allergy_11      122
Allergy_12       90
Allergy_13       67
Allergy_14       54
Allergy_15       37
Allergy_16       32
Allergy_17       28
Allergy_18       24
Allergy_19       18
Allergy_20       16
Allergy_21       13
Allergy_22       12
Allergy_23        9
Allergy_24        9
Allergy_25        6
Allergy_26        3
Allergy_27        2
Allergy_28        1
Allergy_29        1
Allergy_30        1
Allergy_31        1
Allergy_32        1
Allergy_33        1
dtype: int64

In [12]:
## SKip this step. re-run

## vaers_data_vax_clean_df = vaers_data_vax_clean_df.fillna('')

In [13]:
vaers_data_vax_clean_df

,VAERS_ID,ALLERGIES,Allergy_1,Allergy_2,Allergy_3,Allergy_4,Allergy_5,Allergy_6,Allergy_7,Allergy_8,...,Allergy_24,Allergy_25,Allergy_26,Allergy_27,Allergy_28,Allergy_29,Allergy_30,Allergy_31,Allergy_32,Allergy_33
0,1000012,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,997550,Penicillin,Penicillin,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,997553,"isoniazid, diltiazem,versed",isoniazid,diltiazem,versed,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,997571,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,997581,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50711,1039896,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50712,996921,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50713,996922,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50714,996923,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50715,996927,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
vaers_allergy_df= vaers_data_vax_clean_df.drop(['ALLERGIES'], axis=1).copy()

In [15]:
vaers_allergy_df['Allergy_1'].value_counts(ascending=False)

None                                   4862
none                                   2300
NKA                                     950
NKDA                                    939
Penicillin                              934
                                       ...
Allergies Sulfa                           1
oxycotin                                  1
steri strips Bioxin                       1
Codeine (made patient feel loopy)         1
Contrast  (Iodinated) - anaphylaxis       1
Name: Allergy_1, Length: 7780, dtype: int64

In [16]:
vaers_allergy_df['Allergy_1'] = vaers_allergy_df['Allergy_1'].replace(['N/a','None.','None','none','NKDA or food allergies','nka','NKA','No','no','Unknown','unknown','None known',
                                                                       'none known','no known allergies','No known allergies','No known allergies.','UKN','No, none','NONE LISTED',
                                                                       'no known','NKDA/NKA','none that i know of','Knda','NKDA','NKAs','NJA','unknown to food'],"")

In [17]:
vaers_allergy_df.head()

,VAERS_ID,Allergy_1,Allergy_2,Allergy_3,Allergy_4,Allergy_5,Allergy_6,Allergy_7,Allergy_8,Allergy_9,...,Allergy_24,Allergy_25,Allergy_26,Allergy_27,Allergy_28,Allergy_29,Allergy_30,Allergy_31,Allergy_32,Allergy_33
0,1000012,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,997550,Penicillin,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,997553,isoniazid,diltiazem,versed,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,997571,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,997581,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
len(vaers_allergy_df.index)

50716

In [19]:
# Writing the Allergy table to the Database.

engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

vaers_allergy_df.head(0).to_sql('Allergy_Table', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
vaers_allergy_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, '"Allergy_Table"', null="") # null values become ''
conn.commit()

In [ ]:
# col_counter = 1
# for column in symptoms_df:
#     columnSeriesObj = symptoms_df[column]

#     symptoms_df.rename(columns = {column : 'SYMPTOM'+ str(col_counter)}, inplace=True)
#     col_counter += 1
# symptoms_df