In [1]:
import pandas as pd
from path import Path
from sqlalchemy import create_engine
import psycopg2 as pg
import io

In [2]:
# read postgres table, vaerscombined_2 into dataframe
connection = pg.connect(host='team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com', dbname="postgres", user="postgres", password='UTB00tcamp')
vaers_data_vax_df = pd.read_sql_query('select * from public."vaerscombined_2"',con=connection)
vaers_data_vax_df.head()

,VAERS_ID,AGE_YRS,SEX,DIED,L_THREAT,HOSPITAL,OTHER_MEDS,CUR_ILL,HISTORY,ALLERGIES,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_SITE,VAX_NAME
0,916603,58.0,F,0,None,None,none,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","Diclofenac, novacaine, lidocaine, pickles, tom...",COVID19,MODERNA,unknown,UNK,None,COVID19 (COVID19 (MODERNA))
1,916617,35.0,F,0,None,None,"Fluoxetine 40mg qd, cetirizine 10mg qd Apple c...",None,Depression,None,COVID19,PFIZERBIONTECH,Eh9899,1,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
2,916623,31.0,F,0,None,None,"Wellbutrin, Vitamin D3, Zinc Sulfate, Multivit...",Bacterial Upper Respiratory infection(2 weeks ...,Anxiety,Morphine,COVID19,PFIZERBIONTECH,None,1,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916628,33.0,F,0,None,None,Buspirone 5mg 1 tab BID Omeprazole 25mg 1 tab QD,None,None,None,COVID19,MODERNA,None,1,LA,COVID19 (COVID19 (MODERNA))
4,916630,56.0,F,0,None,None,50 mg daily antibiotic,none,none,none,COVID19,MODERNA,039K20A,1,LA,COVID19 (COVID19 (MODERNA))

In [3]:
len(vaers_data_vax_df.index)

96577

In [4]:
vaers_data_vax_df['VAX_TYPE'].value_counts()

COVID19    51177
VARZOS     11528
FLU4        6465
PPV         2584
FLUX        2074
           ...
MENHIB         1
RUB            1
HBHEPB         1
JEVX           1
DTOX           1
Name: VAX_TYPE, Length: 61, dtype: int64

In [5]:
# Drop VAX_TYPE not equal to COVID19
vaers_data_vax_df = vaers_data_vax_df[vaers_data_vax_df.VAX_TYPE == "COVID19"]

In [6]:
vaers_data_vax_df['VAX_TYPE'].value_counts()

COVID19    51177
Name: VAX_TYPE, dtype: int64

In [12]:
#Drop Unnecessary columns from VAERS_VAX_COVID19_df
# vaers_data_vax_clean_df= vaers_data_vax_df.drop(["VAX_TYPE", "VAX_LOT", "VAX_SITE", "VAX_NAME",'AGE_YRS','SEX','DIED','L_THREAT','HOSPITAL','OTHER_MEDS','CUR_ILL','HISTORY','VAX_MANU','VAX_DOSE_SERIES'], axis=1).copy()
# vaers_data_vax_clean_df.head()


vaers_data_vax_clean_df = vaers_data_vax_df.drop(columns=["VAX_TYPE", "VAX_LOT", "VAX_SITE", "VAX_NAME",'AGE_YRS','SEX','DIED','L_THREAT','HOSPITAL','OTHER_MEDS','CUR_ILL','HISTORY','VAX_MANU','VAX_DOSE_SERIES'],axis=1).copy()
vaers_data_vax_clean_df

       VAERS_ID                                          ALLERGIES
0        916603  Diclofenac, novacaine, lidocaine, pickles, tom...
1        916617                                               None
2        916623                                           Morphine
3        916628                                               None
4        916630                                               none
...         ...                                                ...
96572    916565                 SHELLFISH ANAPHYLAXIS TO SULFA ABX
96573    916577                                               None
96574    918433                                               None
96575    918437                                               None
96576    918503                            PCN, Prednisone, Bleach

[51177 rows x 2 columns]

In [13]:
vaers_data_vax_clean_df.ALLERGIES.apply(lambda x: pd.Series(str(x).split(",")))

# allergy_df = vaers_data_vax_clean_df.apply(lambda group: ','.join(group['ALLERGIES']))
# allergy_df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,Diclofenac,novacaine,lidocaine,pickles,tomatoes,milk,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morphine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,none,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,SHELLFISH ANAPHYLAXIS TO SULFA ABX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96573,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96574,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96575,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96576,PCN,Prednisone,Bleach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
vaers_data_vax_clean_df['Allergy_1'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[0]
vaers_data_vax_clean_df['Allergy_2'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[1]
vaers_data_vax_clean_df['Allergy_3'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[2]
vaers_data_vax_clean_df['Allergy_4'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[3]
vaers_data_vax_clean_df['Allergy_5'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[4]
vaers_data_vax_clean_df['Allergy_6'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[5]
vaers_data_vax_clean_df['Allergy_7'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[6]
vaers_data_vax_clean_df['Allergy_8'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[7]
vaers_data_vax_clean_df['Allergy_9'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[8]
vaers_data_vax_clean_df['Allergy_10'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[9]
vaers_data_vax_clean_df['Allergy_11'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[10]
vaers_data_vax_clean_df['Allergy_12'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[11]
vaers_data_vax_clean_df['Allergy_13'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[12]
vaers_data_vax_clean_df['Allergy_14'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[13]
vaers_data_vax_clean_df['Allergy_15'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[14]
vaers_data_vax_clean_df['Allergy_16'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[15]
vaers_data_vax_clean_df['Allergy_17'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[16]
vaers_data_vax_clean_df['Allergy_18'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[17]
vaers_data_vax_clean_df['Allergy_19'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[18]
vaers_data_vax_clean_df['Allergy_20'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[19]
vaers_data_vax_clean_df['Allergy_21'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[20]
vaers_data_vax_clean_df['Allergy_22'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[21]
vaers_data_vax_clean_df['Allergy_23'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[22]
vaers_data_vax_clean_df['Allergy_24'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[23]
vaers_data_vax_clean_df['Allergy_25'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[24]
vaers_data_vax_clean_df['Allergy_26'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[25]
vaers_data_vax_clean_df['Allergy_27'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[26]
vaers_data_vax_clean_df['Allergy_28'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[27]
vaers_data_vax_clean_df['Allergy_29'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[28]
vaers_data_vax_clean_df['Allergy_30'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[29]
vaers_data_vax_clean_df['Allergy_31'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[30]
vaers_data_vax_clean_df['Allergy_32'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[31]
vaers_data_vax_clean_df['Allergy_33'] = vaers_data_vax_clean_df['ALLERGIES'].str.split(',', expand=True)[32]

In [15]:
vaers_data_vax_clean_df.count(0)

VAERS_ID      51177
ALLERGIES     29729
Allergy_1     29729
Allergy_2      6135
Allergy_3      3576
Allergy_4      2048
Allergy_5      1234
Allergy_6       776
Allergy_7       521
Allergy_8       343
Allergy_9       231
Allergy_10      173
Allergy_11      124
Allergy_12       91
Allergy_13       68
Allergy_14       55
Allergy_15       38
Allergy_16       33
Allergy_17       28
Allergy_18       24
Allergy_19       18
Allergy_20       16
Allergy_21       13
Allergy_22       12
Allergy_23        9
Allergy_24        9
Allergy_25        6
Allergy_26        3
Allergy_27        2
Allergy_28        1
Allergy_29        1
Allergy_30        1
Allergy_31        1
Allergy_32        1
Allergy_33        1
dtype: int64

In [11]:
## SKip this step. re-run

## vaers_data_vax_clean_df = vaers_data_vax_clean_df.fillna('')

In [16]:
vaers_data_vax_clean_df

,VAERS_ID,ALLERGIES,Allergy_1,Allergy_2,Allergy_3,Allergy_4,Allergy_5,Allergy_6,Allergy_7,Allergy_8,...,Allergy_24,Allergy_25,Allergy_26,Allergy_27,Allergy_28,Allergy_29,Allergy_30,Allergy_31,Allergy_32,Allergy_33
0,916603,"Diclofenac, novacaine, lidocaine, pickles, tom...",Diclofenac,novacaine,lidocaine,pickles,tomatoes,milk,None,None,...,None,None,None,None,None,None,None,None,None,None
1,916617,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,916623,Morphine,Morphine,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,916628,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,916630,none,none,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,916565,SHELLFISH ANAPHYLAXIS TO SULFA ABX,SHELLFISH ANAPHYLAXIS TO SULFA ABX,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96573,916577,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96574,918433,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96575,918437,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96576,918503,"PCN, Prednisone, Bleach",PCN,Prednisone,Bleach,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
vaers_allergy_df= vaers_data_vax_clean_df.drop(['ALLERGIES'], axis=1).copy()

In [19]:
vaers_allergy_df['Allergy_1'].value_counts(ascending=False)

None                            4926
none                            2324
NKA                              968
NKDA                             956
Penicillin                       942
                                ...
Gadolinium MRI dye                 1
penicillin sulfa drugs ether       1
Erythromycin Walnuts               1
Sprionolactone                     1
Adhesive Bandages                  1
Name: Allergy_1, Length: 7780, dtype: int64

In [20]:
vaers_allergy_df['Allergy_1'] = vaers_allergy_df['Allergy_1'].replace(['N/a','None.','None','none','NKDA or food allergies','nka','NKA','No','no','Unknown','unknown','None known',
                                                                       'none known','no known allergies','No known allergies','No known allergies.','UKN','No, none','NONE LISTED',
                                                                       'no known','NKDA/NKA','none that i know of','Knda','NKDA','NKAs','NJA','unknown to food'],"")

In [21]:
vaers_allergy_df.head()

,VAERS_ID,Allergy_1,Allergy_2,Allergy_3,Allergy_4,Allergy_5,Allergy_6,Allergy_7,Allergy_8,Allergy_9,...,Allergy_24,Allergy_25,Allergy_26,Allergy_27,Allergy_28,Allergy_29,Allergy_30,Allergy_31,Allergy_32,Allergy_33
0,916603,Diclofenac,novacaine,lidocaine,pickles,tomatoes,milk,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,916617,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,916623,Morphine,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,916628,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,916630,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
len(vaers_allergy_df.index)

51177

In [22]:
# Writing the Allergy table to the Database.

engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

vaers_allergy_df.head(0).to_sql('Allergy_Table', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
vaers_allergy_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, '"Allergy_Table"', null="") # null values become ''
conn.commit()

In [18]:
# col_counter = 1
# for column in symptoms_df:
#     columnSeriesObj = symptoms_df[column]

#     symptoms_df.rename(columns = {column : 'SYMPTOM'+ str(col_counter)}, inplace=True)
#     col_counter += 1
# symptoms_df