In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2 
import io

In [2]:
VAERS_DATA_21_df = pd.read_csv('Resources/Updated_Data/2021VAERSDATA.csv')

/Users/rimamehra/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7,12,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
VAERS_DATA_21_df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,1/1/21,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,1/1/21,NaN,Y,NaN,Pcn and bee venom
1,916601,1/1/21,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,1/1/21,NaN,Y,NaN,"""Dairy"""
2,916602,1/1/21,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,1/1/21,NaN,NaN,Y,Shellfish
3,916603,1/1/21,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,1/1/21,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,1/1/21,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,1/1/21,NaN,NaN,NaN,Na

In [4]:
VAERS_DATA_20_df = pd.read_csv('Resources/Updated_Data/2020VAERSDATA.csv') 
VAERS_DATA_20_df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,855017,1/1/20,HI,55.0,55.0,NaN,F,NaN,Symptoms occurred almost immediately- aching j...,NaN,...,None,Migraines,NaN,NaN,2,1/1/20,NaN,NaN,NaN,Morphine
1,855018,1/1/20,WI,68.0,68.0,NaN,F,NaN,"Extreme pain, muscle weakness in right arm so ...",NaN,...,None,"Hypothyroidism, Meniere's Disease.",NaN,NaN,2,1/1/20,NaN,Y,Y,"Penicillin, sulfa drugs, erythromycin, tetracy..."
2,855019,1/1/20,NaN,50.0,50.0,NaN,F,NaN,SORENESS IN THE AREA. ITCHING AND RASH,NaN,...,NaN,NaN,NaN,NaN,2,1/1/20,NaN,NaN,NaN,NaN
3,855020,1/1/20,TX,67.0,67.0,NaN,F,NaN,"sore arm, fever 101 , chills, and aching musc...",NaN,...,none,none,NaN,NaN,2,1/1/20,NaN,NaN,NaN,"morphine,"
4,855021,1/1/20,NaN,73.0,73.0,NaN,F,NaN,Patient presented to Clinic today 1/1/2020. Sh...,NaN,...,NaN,NaN,NaN,NaN,2,1/1/20,NaN,Y,NaN,NaN

In [5]:
VAERS_DATA_ALL_df = VAERS_DATA_21_df.append(VAERS_DATA_20_df)

VAERS_DATA_ALL_df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,1/1/21,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,1/1/21,NaN,Y,NaN,Pcn and bee venom
1,916601,1/1/21,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,1/1/21,NaN,Y,NaN,"""Dairy"""
2,916602,1/1/21,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,1/1/21,NaN,NaN,Y,Shellfish
3,916603,1/1/21,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,1/1/21,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,1/1/21,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,1/1/21,NaN,NaN,NaN,Na

In [6]:
len(VAERS_DATA_ALL_df.index)

86611

In [7]:
VAERS_DATA_ALL_df.drop_duplicates(subset ="VAERS_ID",
                     keep = False, inplace = True)

In [8]:
len(VAERS_DATA_ALL_df.index)

86611

In [9]:
VAERS_DATA_ALL_df['DIED']=VAERS_DATA_ALL_df['DIED'].fillna(0)

In [10]:
len(VAERS_DATA_ALL_df.loc[VAERS_DATA_ALL_df['DIED'] == 'Y'])

2315

In [11]:
 
engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

VAERS_DATA_ALL_df.head(0).to_sql('vaersdata_raw', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
VAERS_DATA_ALL_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'vaersdata_raw', null="") # null values become ''
conn.commit()

In [12]:
VAERS_SYMPT_21_df = pd.read_csv('Resources/Updated_Data/2021VAERSSYMPTOMS.csv') 
VAERS_SYMPT_21_df.head()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN

In [13]:
VAERS_SYMPT_20_df = pd.read_csv('Resources/Updated_Data/2020VAERSSYMPTOMS.csv') 
VAERS_SYMPT_20_df.head()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,855017,Arthralgia,22.1,Chills,22.1,Injection site pain,22.1,Pyrexia,22.1,NaN,NaN
1,855018,Chills,22.1,Fatigue,22.1,Hypertension,22.1,Hypoaesthesia,22.1,Injected limb mobility decreased,22.1
2,855018,Muscular weakness,22.1,Pain in extremity,22.1,Pyrexia,22.1,Tremor,22.1,Vertigo,22.1
3,855019,Pain,22.1,Pruritus,22.1,Rash,22.1,NaN,NaN,NaN,NaN
4,855020,Chills,22.1,Influenza like illness,22.1,Myalgia,22.1,Pain in extremity,22.1,Pyrexia,22.1

In [14]:
VAERS_SYMPT_ALL_df = VAERS_SYMPT_21_df.append(VAERS_SYMPT_20_df)

VAERS_SYMPT_ALL_df.head()

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN

In [15]:
len(VAERS_SYMPT_ALL_df.index)

113487

In [16]:
# Faster Code to write to SQL database. Here writing the symtoms table.

engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

VAERS_SYMPT_ALL_df.head(0).to_sql('vaerssymptom_raw', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
VAERS_SYMPT_ALL_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'vaerssymptom_raw', null="") # null values become ''
conn.commit()

In [17]:
VAERS_VAX_21_df = pd.read_csv('Resources/Updated_Data/2021VAERSVAX.csv') 
VAERS_VAX_21_df.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZER\BIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,NaN,1,IM,LA,COVID19 (COVID19 (MODERNA))

In [18]:
len(VAERS_VAX_21_df.index)

40937

In [19]:
VAERS_VAX_20_df = pd.read_csv('Resources/Updated_Data/2020VAERSVAX.csv') 
VAERS_VAX_20_df.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,855017,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,2,SYR,LA,ZOSTER (SHINGRIX)
1,855018,UNK,UNKNOWN MANUFACTURER,NaN,1,IM,RA,VACCINE NOT SPECIFIED (OTHER)
2,855019,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,NaN,NaN,ZOSTER (SHINGRIX)
3,855020,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,IM,LA,ZOSTER (SHINGRIX)
4,855021,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,2,IM,RA,ZOSTER (SHINGRIX)

In [20]:
len(VAERS_VAX_20_df.index)

55640

In [21]:
VAERS_VAX_ALL_df = VAERS_VAX_21_df.append(VAERS_VAX_20_df)

VAERS_VAX_ALL_df.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZER\BIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,NaN,NaN,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,NaN,1,IM,LA,COVID19 (COVID19 (MODERNA))

In [22]:
len(VAERS_VAX_ALL_df.index)

96577

In [23]:
# Writing the Vax table to the Database.

engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

VAERS_VAX_ALL_df.head(0).to_sql('vaersvax_raw', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
VAERS_VAX_ALL_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'vaersvax_raw', null="") # null values become ''
conn.commit()

In [24]:
# result = pd.merge(VAERS_DATA_ALL_df, VAERS_VAX_ALL_df, on="VAERS_ID")

In [25]:
# result.head()

In [26]:
# len(result.index)

In [27]:
# len(result.loc[result['VAX_TYPE'] == 'COVID19'])

In [28]:
# Once i added this step to drop the duplicates my previous death count of 2190 dropped to 2041.
# Before we updated our data the death count was about 1421. Need a check and confirmation on this. 

# result.drop_duplicates(subset ="VAERS_ID",
#                      keep = False, inplace = True)

In [29]:
# result_COVID = result[result.VAX_TYPE == "COVID19"]

In [30]:
# len(result_COVID.index)

In [31]:
# len(result_COVID.loc[result_COVID['DIED'] == 'Y'])