In [13]:
import pandas as pd
import numpy as np
import hvplot.pandas
from sklearn.cluster import KMeans
import plotly.express as px
import psycopg2 as pg
import sqlalchemy
import matplotlib as plt
from sqlalchemy import create_engine
import pandas.io.sql as psql
import sklearn as skl
import tensorflow as tf
import io

In [14]:
#Read vaersvax dataframe from postgreSQL 

connection = pg.connect(host='team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com', dbname="postgres", user="postgres", password='UTB00tcamp')
#dataframe = psql.DataFrame("SELECT * FROM category", connection)
VAERS_vax_df = pd.read_sql_query('select * from public."vaersvax_raw"',con=connection)
VAERS_vax_df.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZERBIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,None,None,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,None,1,IM,LA,COVID19 (COVID19 (MODERNA))

In [15]:
VAERS_vax_df=VAERS_vax_df[VAERS_vax_df.VAX_TYPE == "COVID19"].copy()
VAERS_vax_df.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,916600,COVID19,MODERNA,037K20A,1,IM,LA,COVID19 (COVID19 (MODERNA))
1,916601,COVID19,MODERNA,025L20A,1,IM,RA,COVID19 (COVID19 (MODERNA))
2,916602,COVID19,PFIZERBIONTECH,EL1284,1,IM,LA,COVID19 (COVID19 (PFIZER-BIONTECH))
3,916603,COVID19,MODERNA,unknown,UNK,None,None,COVID19 (COVID19 (MODERNA))
4,916604,COVID19,MODERNA,None,1,IM,LA,COVID19 (COVID19 (MODERNA))

In [16]:
#Drop Unnecessary columns from VAERS_VAX_df
VAERS_vax_df= VAERS_vax_df.drop(["VAX_TYPE", "VAX_LOT", "VAX_ROUTE", "VAX_SITE", "VAX_DOSE_SERIES", "VAX_NAME"], axis=1).copy()
VAERS_vax_df.head()

   VAERS_ID        VAX_MANU
0    916600         MODERNA
1    916601         MODERNA
2    916602  PFIZERBIONTECH
3    916603         MODERNA
4    916604         MODERNA

In [17]:
# Writing the Clean VAERS_data table to the Database.

engine = create_engine('postgresql://postgres:UTB00tcamp@team-11.ch3wmigorcf0.us-east-2.rds.amazonaws.com:5432/postgres', pool_recycle=3600)

VAERS_vax_df.head(0).to_sql('vaers_vax_cleaned_supervised', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
VAERS_vax_df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'vaers_vax_cleaned_supervised', null="") # null values become ''
conn.commit()